
*.axf
*.dep
*.d
*.o
*.Scr
*.gabwan01
*.map
example/Out/example.build_log.htm
example/Out/perf_counter.build_log.htm
*.lnp
example/Out/example.htm
example/Out/perf_counter.lib
*.scvd
*.iex
*.crf
*.lst
example/example.uvguix.gabriel
example/GCC_Out/gcc_example.elf
example/GCC_Out/gcc_example.build_log.htm
example/GCC_Out/perf_counter_gcc.build_log.htm
example/GCC_Out/libperf_counter_gcc.a

