*.depend
*.layout
/src/build
/port/linux/build
/src/package/pikascript/pikascript-api
/tools/pikaPackageManager/pikascript-core
/tools/pikaPackageManager/pikascript-api
/tools/pikaPackageManager/pikascript-lib
/tools/pikaPackageManager/*.py
*__pycache__
*bin/
*obj/
bsp/pico/MDK/mdk/RTE
bsp/pico-dev/MDK/mdk/RTE

.vscode/
coredump/

tools/pikaByteCodeGen/build/
tools/pikaByteCodeGen/pikascript/
tools/pikaByteCodeGen/libpikabinder/
tools/pikaCompiler/libpikabinder/
tools/pikaCompiler/rust-msc-latest-linux


#remove unnecessary file
port/linux/test/out/
port/linux/test/python/*.py.a
port/linux/test/python/*.py.o
port/linux/test/python/__asset_lib_to_file_py_a.c
port/linux/Release/
port/linux/benchmark_result.json
port/linux/gmon.out
port/linux/package/pikascript/pikascript-api/
port/linux/package/pikascript/pikascript-core/
port/linux/package/pikascript/*.o
port/linux/package/pikascript/pika
port/linux/package/pikascript/rust-msc-latest-linux

port/linux/report.txt
port/linux/snake.bin
port/linux/task.bin
port/linux/pika_bytecode.bin
port/linux/config/pika_config.h

#<lab>
port/linux/test/VM-test.cpp
port/linux/test/arg-test.cpp
port/linux/test/args-test.cpp
port/linux/test/builtin-test.cpp
port/linux/test/class-test.cpp
port/linux/test/closure-test.cpp
port/linux/test/cmodule-test.cpp
port/linux/test/compile-test.cpp
port/linux/test/doc-test.cpp
port/linux/test/event-test.cpp
port/linux/test/except-test.cpp
port/linux/test/gc-test.cpp
port/linux/test/lua-test.cpp
port/linux/test/parse-test.cpp
port/linux/test/pool-test.cpp
port/linux/test/stack-test.cpp
port/linux/test/strs-test.cpp
port/linux/test/sysObj-test.cpp
port/linux/test/thread-test.cpp
tools/pikaCompiler/cross-build.sh
tools/pikaByteCodeGen/cross-win.sh
tools/pikaByteCodeGen/CrossCompile.cmake
tools/pikaCompiler/do_build.sh
tools/pikaCompiler/cbindgen.toml
tools/pikaPackageManager/clean.sh
tools/pikaPackageManager/go.mod
tools/pikaPackageManager/go.sum
tools/pikaPackageManager/main.go
tools/pikaPackageManager/make.sh
tools/pikaPackageManager/requestment.txt
#</lab>
