*.depend
*.layout
/coreDevelopment/build
/coreDevelopment/package/pikascript/pikascript-api
/pikaPackageManager/pikascript-core
/pikaPackageManager/pikascript-api
/pikaPackageManager/pikascript-lib
/pikaPackageManager/*.py
*__pycache__
*bin/
*obj/

