*.depend
*.layout
/src/build
/port/linux/build
/src/package/pikascript/pikascript-api
/tools/pikaPackageManager/pikascript-core
/tools/pikaPackageManager/pikascript-api
/tools/pikaPackageManager/pikascript-lib
/tools/pikaPackageManager/*.py
*__pycache__
*bin/
*obj/

