.DS_Store
.swp
.bak
cscope.*
*.orig
*.patch

build
*_build
cmake-build*
.idea
.vscode

*.log
*.jou
.settings
.cproject
.project

doctrees
doc/output/*

hpm5301evklite_flash_xip_debug
segger_embedded_studio
*.pyc
sec_core_img.c
*.o

