# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.dep
project/mdk/template.uvguix.*
project/mdk/Objects
*.scvd
*.iex
project/mdk/JLinkLog.txt
project/mdk/template.uf2
*._ac
*.__i
*@*

*.00??

project/mdk/RTE/PikaScript
RTE_Components.h
Pre_Include_*
project/mdk/RTE/Acceleration/README.md
project/mdk/RTE/Acceleration/img2c.py
project/mdk/RTE/Acceleration/arm_2d.c
project/mdk/RTE/Utilities/core_portme.c
